/* DEBUG */

.dd_hero [class*="col"],
.dd_portfolio [class*="col"] {
    border: 1px solid black;
}



/* COLORS VARIABLES */

:root {
    --white: #ffffff;
    --black: #000000;
    --seagreen: #1abc9c;
    --darkblue: #2c3e50;
    --bluejeans: #3a546d;

    /* portafolio's boxes colors */
    --box-01: #ba4b63;
    --box-02: #1ea4b6;
    --box-03: #140f0f;
    --box-04: #1c83c1;
    --box-05: #0e38b5;
    --box-06: #ccb2a3;
}



/* SECTIONS' BACKGROUNDS */

header,
footer {
    background-color: var(--darkblue);
}

/* dd_hero dd_about */
main > section:nth-of-type(odd) {
    background-color: var(--seagreen);
}

/* dd_portfolio dd_contact-me */
main > section:nth-of-type(even) {
    background-color: var(--white);
}

footer .dd_footer-info {
    background-color: var(--bluejeans);
}



/* FONT COLOR */

header,
footer,
main > section:nth-of-type(odd) {
    color: var(--white);
}

main > section:nth-of-type(even) {
    color: var(--black);
}



/* HEADER */

header {
    text-transform: uppercase;
}

nav ul {
    list-style: none;
}

nav a {
    text-decoration: none;
}

/* HERO */

.dd_background-box-01 {
    background-color: var(--box-01);
}

.dd_background-box-02 {
    background-color: var(--box-02);
}

.dd_background-box-03 {
    background-color: var(--box-03);
}

.dd_background-box-04 {
    background-color: var(--box-04);
}

.dd_background-box-05 {
    background-color: var(--box-05);
}

.dd_background-box-06 {
    background-color: var(--box-06);
}