/* DEBUG */

.dd_hero [class*="col"],
.dd_portfolio [class*="col"],
.dd_about [class*="col"],
.dd_contact-me [class*="col"],
.dd_footer-info [class*="col"],
.dd_footer-copyright [class*="col"] {
    border: 1px solid black;
}



/* COLORS VARIABLES */

:root {
    --white: #ffffff;
    --black: #000000;
    --seagreen: #1abc9c;
    --darkblue: #2c3e50;
    --bluejeans: #3a546d;

    /* portafolio's boxes colors */
    --box-01: #ba4b63;
    --box-02: #1ea4b6;
    --box-03: #140f0f;
    --box-04: #1c83c1;
    --box-05: #0e38b5;
    --box-06: #ccb2a3;
}



/* SECTIONS' BACKGROUNDS */

header,
footer {
    background-color: var(--darkblue);
}

/* dd_hero dd_about */
main > section:nth-of-type(odd) {
    background-color: var(--seagreen);
}

/* dd_portfolio dd_contact-me */
main > section:nth-of-type(even) {
    background-color: var(--white);
}

footer .dd_footer-info {
    background-color: var(--bluejeans);
}



/* FONT COLOR */

header,
footer,
main > section:nth-of-type(odd) {
    color: var(--white);
}

main > section:nth-of-type(even) {
    color: var(--black);
}



/* STAR */

.dd_bar {
    height: .2rem;
    width: 7rem;
}

main > section:nth-of-type(odd) .dd_bar {
    background-color: var(--white);
}

main > section:nth-of-type(even) .dd_bar {
    background-color: var(--black);
}

/* HEADER */

header nav a {
    text-decoration: none;
}

header i {
    color: lightgray;
    border: 1px solid lightgray;
    border-radius: .2em;
    padding: .2em;
}



/* HERO */

.dd_hero .dd_avatar {
    max-width: 250px;
}

/* FOOTER INFO */

/* Bordo icone social networks */

footer .dd_footer-info i {
    height: 2.5rem;
    width: 2.5rem;
    margin: .5rem;
    border: 1px solid var(--white);
    border-radius: 50%;
    line-height: 2.5rem;
    vertical-align: middle;   
}